@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4">
            <a href="\" target="_self">Home</a>
            <a href="\list" target="_self">Expense List</a>
            <a href="#" target="_self">Chart</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
